# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/

# Compiled binaries
*.dll
*.exe
*.pdb
*.cache

# NuGet
packages/
*.nupkg

# Resharper
_ReSharper*/
*.DotSettings.user
